@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/********
NAV BAR
********/
.container-nav{
    max-width: 900px;
}
.row-nav{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: x-small;
}


/********
CARD
********/
.container-card{
    max-width: 900px;
}
.row-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-card{
    min-height: 300px;
    min-width: 200px
}
.desc-article{
    position: relative;
    top: 250px;
}
span{
    display: block;
    font-size: xx-small;
}

/********
CARD
********/





/********
NAV BAR
********/

#debug div{
    border: 3px dotted blue;
    padding: 1px;
}

#debug header{
    display: flex;
    justify-content: center;
    min-height: 30px;
    background-color: rgb(255,94,0);
}
#debug main{
    display: flex;
    justify-content: center;
    min-height: 500px;
}
#debug footer{
    min-height: 80px;
    background-color: black;
}
/********
DEBUG
********/