@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/********
NAV BAR
********/
.container-nav{
    min-width: 900px
}
.row-nav{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: x-small;
}
/********
NAV BAR
********/

/********
CARD
********/
.container-card{
    min-width: 900px
}
.row-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-card{
    margin: 5px;
    padding-top: 40px;
    min-height: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.img-card{
    flex-grow: 3;
    background-position: center;
    background-size: cover;
}
.heart{
    padding: 5px 10px;
    background-color: white;
    font-size: small;
    display: inline-block;
    position: relative;
    width:auto;
    left: calc(100% - 33px); ;
}
.sale{
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-size: x-small;
    position: relative;
    display: inline-block;
    top: 380px;
    right: 36px;
}
.sost{
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: x-small;
    position: relative;
    display: inline-block;
    top: 380px;
    right: 36px;
}
span{
    display: block;
    font-size: xx-small;
}
.type{
    font-weight:bolder;
}
.price{
    color: red;
}
.price-before{
    display: inline-block;
    text-decoration: line-through;
    color: black;
}
/********
CARD
********/


/********
PICTURES
********/
.i1{
    background-image: url(/img/1.webp);
}
.i2{
    background-image: url(/img/2.webp);
}
.i3{
    background-image: url(/img/3.webp);
}
.i4{
    background-image: url(/img/4.webp);
}
.i5{
    background-image: url(/img/5.webp);
}
.i6{
    background-image: url(/img/6.webp);
}
/********
PICTURES
********/


/********
FOOTER
********/
.container-footer{
    min-width: 900px;
}
.name{
    color: white;
}
footer span{
    color:white;

}
.row-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-icon{
    list-style: none;
    display: flex;
}
.icon{
    line-height: 32px;
    width: 32px;
    color: white;
}
.fa-brands{

}

/********
FOOTER
********/


/********
DEBUG
********/

#debugd div {
    border: 2px dotted blue;
    padding: 2px;
}

#debug header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background-color: rgb(255,94,0);
}
#debug main{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 500px;
}
#debug footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    min-height: 80px;
    background-color: black;   
}
/********
DEBUG
********/